<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>寵愛</title>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" herf="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCukF7RY7PnnUGA9mm5cY8NNRUHeSUR4_c"></script>
    <link href="https://dl.getdropbox.com/s/mwe9ynku6l5o8cs/update.css" rel="stylesheet" media="screen">
    <!-- <link href="./css/mobile-style.css" rel="stylesheet" media="screen"> -->

  

  </head>
  
  <body style="background-color: rgb(186, 241, 148);">

    
    <div class="row" style="margin: 47px;margin-top:25px">
        
        <img id="petphoto"  src = '' style="height: 100px;margin-top:17px;margin: auto;display: block;"  />
        <br/>

        <div class="row1" style="margin: auto;display: block;width:350px">
            <p id="name" style="color: rgb(110, 139, 236);font-weight:bold;font-family:DFKai-sb;font-size:25px;margin: auto;display: block;margin-left:40px;margin-top:16px"></p>
            <p id="phone" style="color: rgb(110, 139, 236);font-weight:bold;font-family:DFKai-sb;font-size:25px ;margin: auto;display: block;margin-left:40px;margin-top:16px"></p>
            <p id="email" style="color: rgb(110, 139, 236);font-weight:bold;font-family:DFKai-sb;font-size:25px ;margin: auto;display: block;margin-left:40px;margin-top:16px"></p>
            <p id="petname" style="color: rgb(110, 139, 236);font-weight:bold;font-family:DFKai-sb;font-size:25px;margin: auto;display: block;margin-left:40px;margin-top:16px"></p>
        </div>

        <div class="row2" style="margin-left:140px;margin: auto;display: block;margin-top:20px;">
            <select id="sel_room" class="form-control" style="font-size:17px;width:70px;margin: auto;display: block;" value="">
              <option selected>種類</option>
              <option>狗</option>
              <option>貓</option>
              <option>鳥</option>
              <option>豬</option>
              <option>其他</option>
            </select>
          </div>
        
        
        <script type="text/javascript" src="https://dl.getdropbox.com/s/2zjtzkt4625zsvr/update.js"></script>

        <div class="dropzone" style="margin-top:15px ;">
            <div class="info"></div>
          </div>
        <script type="text/javascript" src="https://dl.getdropbox.com/s/wn4ld742pme2zou/updateimgur.js"></script>

        <div class="row" style="margin: auto;display: block;margin-top:20px;width:70px;">
            <button class="btn-success btn-block" id="sure" style="font-size:17px;border-radius:20px;background-color:#3aced3;font-family:DFKai-sb;margin: auto;display: block">更新</button>
          </div>
      


      </div>

      





    </div>
  </body>
</html>